.nav {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
    margin-left: 93px;
  }
}

.nav__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);

  transition: color var(--anim);

  &--current {
    color: var(--accent-txt-cl);
  }

  &:hover,
  &:focus {
    color: var(--accent-txt-cl);
  }
}
