.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.form-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--main-bg-cl);
  border: 2px solid #212121;
  border-radius: 2px;

  transition: fill var(--anim), background-color var(--anim), border var(--anim);

  .form-checkbox-input:checked + & {
    fill: var(--main-bg-cl);
    background-color: var(--btn-cl);
    border: var(--btn-cl);
  }
}

.form-checkbox-agreement {
  user-select: none;
  &-link {
    text-decoration-line: underline;

    color: var(--accent-txt-cl);
  }
}
