.header {
  border-bottom: 1px solid #ececec;

  &__wrapper {
    display: flex;
    align-items: center;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);

  fill: #757575;

  transition: color var(--anim), fill var(--anim);

  & :hover,
  &:focus {
    color: var(--accent-txt-cl);

    fill: var(--accent-txt-cl);
  }
}

.header-contacts__icon {
  margin-right: 10px;
}
