.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;

  &__wrapper {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }
}

.header-contacts {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
      gap: 30px;
    }

    // &__item:not(:last-child) {
    //   margin-right: 50px;
    // }
  }
}

.header-contacts__link {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    // padding-top: 32px;
    // padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-cl);

    fill: #757575;
    @media screen and (min-width: 768px) {
      transition: color var(--anim), fill var(--anim);

      &:hover,
      &:focus {
        color: var(--accent-txt-cl);

        fill: var(--accent-txt-cl);
      }
    }
  }
}

.header-contacts__icon {
  @media screen and (min-width: 768px) {
    margin-right: 10px;
  }
}
