.team {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  background-color: var(--grey-bg-cl);

  &__list {
    --items: 1;

    @media screen and (min-width: 768px) {
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
    }
  }
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  background-color: var(--main-bg-cl);
}

.team__wrapper {
  padding: 30px 0px;
}

.team__subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-txt-cl);
}

.team__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-txt-cl);
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color var(--anim), color var(--anim);

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--btn-cl);
  }
}

.social-media__link--grey {
  color: #afb1b8;
  background-color: #ffffff;
}

.social-media__link--light {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-media__icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}
